= form_for @backtrace do |f|
  - if @backtrace.errors.any?
    #error_explanation
      %h2= "#{pluralize(@backtrace.errors.count, "error")} prohibited this backtrace from being saved:"
      %ul
        - @backtrace.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
